* {
  background-color: skyblue;
}

.formDiv{
    text-align: center;
}

input {
    border-radius: 12px;
    background-color: white;
  margin-top: 8px;
}

#vraagInput {
  height: 50px;
  width: 200px;
}

label {
  font-size: 20px;
  font-family: "Jura";
  font-weight: bolder;
  text-align: center;
}

input:valid {
  background-color: greenyellow;
}

input:invalid {
  background-color: #e6e6e6;
}

#submitBtn {
      border: none;
    background-color: #297bff;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 12px;
    font-family: sans-serif;
}